* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    color:grey;
}

p {
    color: black;
    font-size: 16px;
}

nav p {
    color: #ffffff;
    font-size: 100%;
}

h2, h3 {
    margin-bottom: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

main {
    margin-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.AboutMe {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: dashed;
}

.Work {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: dashed;
}

.projectgroup1, .projectgroup2 {
    display: flex;
    background-color: powderblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    justify-content: space-around;
    gap: 20px;
}

.project1, .project2, .project3, .project4, .project5 {
    border-radius: 5px;
    border: dashed;
}

.project2, .project3, .project4, .project5 {
    background: greenyellow;
}

.project1 {
    padding-left: 20px;
    padding-right: 20px;
}

.projectgroup2 {
    padding-bottom: 20px;
}

.resume {
    padding: 20px;
    margin-bottom: 20px;
    border: dashed;
    border-radius: 5px;
}

.resume p {
    padding-top: 20px;
}

footer {
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    border: dashed;
    border-radius: 5px;
}

 footer h2 {
    display: inline-block;
    font-size: 20px;
 }

 footer nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
 }

footer nav ul {
    list-style-type: none;
}

footer nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: white;
}

@media screen and (max-width: 1000px) {
    
}